@model tenorchem.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h2>删除用户</h2>

<h3>确定要删除以下用户么？</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="id" />
        <dt>
            编号
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            姓名
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>
        <dt>
            密码
        </dt>
        <dd>
            @Html.DisplayFor(model => model.passWord)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            <a class="btn btn-default" asp-action="Index">返回</a>
        </div>
    </form>
</div>
