@model tenorchem.Models.PurchaseRecord

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>PurchaseRecord</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="SupplierId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SupplierId" class ="form-control" asp-items="ViewBag.SupplierId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PurchaseDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PurchaseDate" class="form-control" type="date" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PricePerTon" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PricePerTon" class="form-control" />
                <span asp-validation-for="PricePerTon" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TotalPaidPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TotalPaidPrice" class="form-control" />
                <span asp-validation-for="TotalPaidPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PaidBackPerTon" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PaidBackPerTon" class="form-control" />
                <span asp-validation-for="PaidBackPerTon" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TotalPaidBack" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TotalPaidBack" class="form-control" />
                <span asp-validation-for="TotalPaidBack" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="comment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="comment" class="form-control" />
                <span asp-validation-for="comment" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

